.custom-main-color {
    background: #f7b951;
}

.custom-footer-color {
    background: #d2cfc9;
}

// footer下の余白削除
html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}