// メインカラー
.custom-main-color {
    background: #8795a1;
}

// footer下の余白削除
html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

// btn-primary カスタム
.btn-primary {
    --bs-btn-bg: #4885e1;
    --bs-btn-hover-bg: #1f64cb;
    --bs-btn-active-bg: #1953aa;
}

// dropdown-menu カスタム
.dropdown-menu {
    --bs-dropdown-link-active-bg: #69707c;
}

// header Userアイコン
.custom-user-icon {
    display: inline-block;
    vertical-align: middle;
}

// お知らせアイコン
.custom-notification-icon {
    cursor: pointer;
}

// 課題一覧　user情報
.custom-user-border {
    border-bottom: 1px solid black;
}

// ルーム編集ボタン
.custom-room-edit {
    display: inline-block;
}

.dropdown-menu {
    --bs-dropdown-min-width: 20rem;
}