// メインカラー
.custom-main-color {
    background: #8795a1;
}

// footer下の余白削除
html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

// btn-primary カスタム
.btn-primary {
    --bs-btn-bg: #4885e1;
    --bs-btn-hover-bg: #1f64cb;
    --bs-btn-active-bg: #1953aa;
}

// dropdown-menu カスタム
.dropdown-menu {
    --bs-dropdown-link-active-bg: #69707c;
}

// header Userアイコン
.custom-user-icon {
    display: inline-block;
    vertical-align: middle;
}

// お知らせ
#navbarDropdownNotice {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dropdown-divider {
    border-top: 3px solid var(--bs-dropdown-divider-bg);
}

.custom-notice-numbers {
    font-size: 12px;
}

// 課題一覧　user情報
.custom-user-border {
    border-bottom: 1px solid black;
}

// ルーム編集ボタン
.custom-room-button {
    display: inline-block;
}

.dropdown-menu {
    --bs-dropdown-min-width: 20rem;
}

// 画像生成時の処理中画面
#loading-overlay-task.custom-hidden {
    display: none;
}

#loading-overlay-task {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}

.custom-loading-spinner {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
}

// フラッシュメッセージ
.alert-info {
    --bs-alert-color: rgb(64 83 86);
    --bs-alert-bg: rgb(206 220 223);
    --bs-alert-border-color: rgb(97 124 129);
    --bs-alert-link-color: rgb(63 91 97);
}

.custom-flash-area-parent {
    position: relative;
}

.custom-flash-area-child {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

// アイコン削除ボタン
.custom-icon-button {
    display: inline-block;
}

// pagination
.active > .page-link {
    background-color: #4885e1;
    border-color: #4885e1;
}

.page-link {
    color: #4885e1;
}
