// メインカラー
.custom-main-color {
    background: #8795a1;
}

// footer下の余白削除
html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

// btn-primary カスタム
.btn-primary {
    --bs-btn-bg: #3a7de2;
    --bs-btn-hover-bg: #1f64cb;
    --bs-btn-active-bg: #1953aa;
}